[submodule "eos"]
	path = eos
	url = https://github.com/EOSIO/eos.git
[submodule "contracts"]
	path = contracts
	url = https://github.com/EOSIO/eosio.contracts
[submodule "cdt"]
	path = cdt
	url = https://github.com/EOSIO/eosio.cdt
