[submodule "eos"]
	path = eos
	url = https://github.com/EOSIO/eos.git
[submodule "contracts"]
	path = contracts
	url = https://github.com/EOSIO/eosio.contracts
[submodule "cdt"]
	path = cdt
	url = https://github.com/EOSIO/eosio.cdt
[submodule "ejs"]
	path = ejs
	url = https://github.com/EOSIO/eosjs
[submodule "auth"]
	path = auth
	url = https://github.com/EOSIO/universal-authenticator-library
[submodule "dmu"]
	path = dmu
	url = https://github.com/EOSIO/demux-js
[submodule "hbteos"]
	path = hbteos
	url = https://github.com/huabit88/eos
[submodule "hbtoken"]
	path = hbtoken
	url = https://github.com/ecslew/EMDSToken
[submodule "hbtcon"]
	path = hbtcon
	url = https://github.com/ecslew/mds-contract
